body {
  background-color: #f2f2f2;
}

.navbar {
  display: flex;
  border: 3px solid #363535;
  justify-content: space-between;
}

.navbar-nav {
  list-style: none;
  display: flex;
  text-decoration: none;
  padding-right: 16px;
}

.navbar-brand {
  margin-left: 20px;
}

.headlist {
  text-decoration: none;
  padding-right: 60px;
  cursor: pointer;
  padding-left: 12px;
}

.right {
  border-right: 4px solid black;
}

.heading {
  font-size: 40px;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

.title {
  font-size: 100%;
  font-family: 'Lato', sans-serif;
  margin-bottom: 10px;
  border: 3px solid #363535;
  border-radius: 4px;
}

.btn {
  font-family: 'Lato', sans-serif;
  margin-bottom: 3%;
  border: 3px solid #363535;
  border-radius: 4px;
}

.book-container button {
  font-family: 'Lato', sans-serif;
  margin-bottom: 30%;
  border: 3px solid #363535;
  border-radius: 4px;
}

#book-form {
  text-align: center;
  margin: 5%;
}

#table_ctn {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.submit:hover {
  background-color: blue;
}

#table_ctn td,
#table_ctn th {
  border-bottom: 1px solid #ddd;
  padding: 8px;
}

#table_ctn tr:hover {
  background-color: #ddd;
}

#table_ctn tr:nth-child(odd) {
  background-color: gray;
}

#table_ctn th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}

#form {
  display: none;
}

#contact {
  display: none;
}

h5 {
  text-align: center;
}

.delete {
  float: right;
  border-radius: 4px;
}

#book-list {
  border: 3px solid #363535;
}

.container-footer {
  border: 2px solid #363535;
  margin-top: 24px;
}

#date {
  float: right;
  font-family: 'Lato', sans-serif;
  margin-top: 8px;
  font-size: 12px;
}
